@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Iceland&display=swap');
:root{
	--cfundo:#1e1b29;
	--cneon:#ff6a00;
	--cneon2:#db9c70;
	--cdetalhes:#ffd54f;
	--ctexto:#fefefe;
	--csectionfundo:#2f374d;
	--font1:"Iceland", sans-serif;
	--font2:"DM Serif Display",  serif;
}
body{
    background-color: var(--cfundo);
    padding: 20px;
}
h1, h2{
    font-family: var(--font1);
    color: var(--cdetalhes);
    text-align: center;
}
section{
    background-color: var(--csectionfundo);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    min-width: 100px;
    max-width: 600px;
    box-shadow: 0px 0px 32px var(--cneon), 0px 0px 32px var(--cneon);
}
section p{
    font-family: var(--font2);
    color: var(--ctexto);
    text-align: justify;
}

.escondido{
    display: none;
}
li:hover > img{
    display: block;
    transition-duration: 0.4s;
    border-radius: 20px;
}

footer{
    font-family: var(--font1);
    margin: auto;
    background-color: var(--csectionfundo);
    width: 130px;
    text-align: center;
    color: var(--ctexto);
    margin-top: 20px;
    border-radius: 50px;
}

footer > p{
    margin: auto;
    padding: 2px;
    text-align: center;
}

li{
    color: var(--ctexto);
    list-style: georgian;
    margin: 10px 0;
}

li:hover{
    transition-duration: 0.4s;
    padding: 10px 10px 10px 20px;
    margin: 0px 0px 0px 10px;
    background-color: var(--cdetalhes);
    color: var(--cfundo);
    border-radius: 10px;
}
li:not(:hover){
    transition-duration: 0.7s;

}
.imgcard{
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 22px var(--cneon2), 0px 0px 22px var(--cneon2);
    padding: 5px;
    display: block;
    margin: 10px auto 10px auto;

}
.imgcard:hover{
    box-shadow: 0px 0px 32px var(--cneon2), 0px 0px 32px var(--cneon2);
    transition-duration: 0.4s;
}
.imgcard:not(:hover){
    transition-duration: 0.4s;
}